# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual Environment
myvenv/
venv/
env/

# Environment Variables
.env
*.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.bak
*.swp
debug.log
"hms_project/git/" 
